.closed {
	display: none;
}

.opened{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.5));
	display: flex;
	flex-direction: row;
	padding: 10px;
	background-color: #FDFEFE;
}

.theme-black .opened {
	background-color: #34495E;
}

.playerDiv > img {
	width: 75px;
	height: 75px;
	border-radius: 4px;
}

.rightDivPlayer {
	margin-left: 10px;
	margin-top: 0px;
	width: 100%;
}

.rightDivPlayer > p {
	margin-top: 3px;
	margin-bottom: 0px;
	font-size: 20px;
	font-weight: bold;
}

.theme-black .rightDivPlayer > p {
	color: white;
}

#progressbar {
	text-align: left;
    height: 10px;
    background-color: #BFC9CA;
    border-radius: 3px;
    margin-top: 3px;
}

.theme-black #progressbar {
	background-color: #5D6D7E;
}

#progressbar:hover {
    cursor: pointer;
}

#prog {
    background-color: #3498DB;
    height: 10px;
	border-radius: 3px;
	width: 0;
}
.time {
    display: flex;
    justify-content: space-between;
}
    
.time > p {
    margin-top: 1px;
    color: #5D6D7E;
    margin-bottom: 0px;
}

.theme-black .time p {
	color: #AAB7B8;
}

.controls {
    display: flex;
	justify-content: center;
	align-items: baseline;
}

.controls > :not( #playButton) {
    margin-top: -15px;
    margin-left: 5px;
    margin-right: 5px;
    width: 30px;
}

.controls > #playButton {
	width: 40px;
	height: 40px;
}

@media screen and (max-width: 490px) {
	.controls > img {
		margin-top: 0px;
	}
}

.controls > img:hover {
	cursor: pointer;
}